---
- name: Install nginx
  yum:
    name: nginx

- name: Apply http rule to firewalld to public zone
  firewalld: zone=public service=http permanent=true state=enabled

- name: Apply httpS rule to firewalld to public zone
  firewalld: zone=public service=https permanent=true state=enabled

- name: Apply nginx config template
  template:
    src: mattermost.j2
    dest: /etc/nginx/conf.d/mattermost.conf

- name: Remove nginx default site
  file:
    path: /etc/nginx/conf.d/default.conf
    state: absent

- name: Add SSL directory in /etc/nginx
  file:
    path: /etc/nginx/ssl
    state: directory

- name: Create self-signed SSL cert
  command: openssl req -new -nodes -x509 -subj "/C=US/ST=Oregon/L=Portland/O=IT/CN={{ ansible_fqdn }}" -days 3650 -keyout /etc/nginx/ssl/mattermost.key -out /etc/nginx/ssl/mattermost.crt -extensions v3_ca
  args:
    creates: /etc/nginx/ssl/mattermost.crt

- name: Add mattermost site
  file:
    path: /etc/nginx/conf.d/mattermost.conf
    #state: link
    #src: /etc/nginx/sites-available/mattermost
  notify: restart nginx
