---
# tasks file for mattermost

- name: Install Mattermost Packages
  yum: name=mattermost-team state=present

- name: Make sure firewall is started and enabled
  service: name=firewalld enabled=yes state=started

# TODO: add firewalld ports (check nginx config)

- name: Create Mattermost Data Directory
  file: path="{{ mattermost_data_dir }}" state=directory mode=0755 group="{{ mattermost_user }}" owner="{{ mattermost_group }}"

- name: Apply Mattermost config template
  template:
    src: config.json.j2
    dest: /opt/mattermost/config/config.json
  notify: restart mattermost-team

# TODO: configure mattermost log dir location in template
# TODO: configure mattermost email config in template

- name: Enable and Start Mattermost Service
  service: name=mattermost enabled=yes state=started
