---
- name: Ensure that the packages are installed
  yum: name={{item}}
  with_items:
    - postgresql-server
    - postgresql-contrib
    - python-psycopg2

- name: Stop old postgresql service
  service: name="postgresql" state=stopped
  when: postgresql_drop_old_installation

- name: Remove old postgresql installation
  command: "rm -rf /var/lib/pgsql/data"
  when: postgresql_drop_old_installation

- name: Run postgresql-setup initdb
  command: "postgresql-setup initdb"

- name: Restart postgresql service
  service: name="postgresql" state=started enabled=yes

- name: Database should be created
  sudo: yes
  sudo_user: postgres
  postgresql_db:
    name: "{{ db_name }}"

- name: User should have access to the database
  sudo: yes
  sudo_user: postgres
  postgresql_user:
    db: "{{ db_name }}"
    name: "{{ db_user }}"
    password: "{{ db_password }}"
    priv: ALL

- name: User should not have unnecessary privilege(s)
  sudo: yes
  sudo_user: postgres
  postgresql_user:
    name: "{{ db_user }}"
    role_attr_flags: NOSUPERUSER,NOCREATEDB

- name: Configure /var/lib/pgsql/data/postgresql.conf
  lineinfile:
    dest: "/var/lib/pgsql/data/postgresql.conf"
    state: present
    regexp: "{{ item.regexp }}"
    line: "{{ item.guc }}"
  with_items: postgresql_conf_default_guc

- name: Configure /var/lib/pgsql/data/pg_hba.conf
  template:
    src: pg_hba.conf.j2
    dest: "/var/lib/pgsql/data/pg_hba.conf"
    owner: "{{ postgresql_admin_user }}"
    group: "{{ postgresql_admin_user }}"
    mode: 0640

- name: Create postgresql log directory structure
  file:
    path: "{{ postgresql_log_directory }}"
    state: directory
    owner: "{{ postgresql_admin_user }}"
    group: "{{ postgresql_admin_user }}"
    mode: 0755
  when: postgresql_log_directory is defined

- name: Reload postgresql service
  service: name="postgresql" state=reloaded
